<header class="header-sticky header-absolute static-top shadow-sm">
    <nav class="navbar navbar-expand-xl static-top">
      <div class="container">
        <a class="navbar-brand me-0 navbar-brand-item" href="/">
          EazyPlus
        </a>
        <span class="navbar-toggler-icon navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"></span>
        <div class="navbar-collapse collapse" id="navbarCollapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"> <a class="nav-link" href="/">Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/about-us">About Us</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/contact-us">Contact Us</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/services">Services</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/products">Products</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/news">News</a> </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
