<section class="pt-0">
    <div class="swiper overflow-hidden" data-swiper-options='{
		"effect": "fade",
		"speed":"1000",
		"autoplay":{
			"delay": 3000, 
			"disableOnInteraction": false
		},
		"pagination":{
			"el":".swiper-pagination",
			"clickable":"true"
		}}'>

        <div class="swiper-wrapper">
            <!-- Slider item -->
            <div class="swiper-slide">
                <div class="card overflow-hidden min-vh-100 rounded-0"
                    style="background:url(assets/images/bg/10.jpg) no-repeat; background-size:cover; background-position:center;">
                    <!-- Bg overlay -->
                    <div class="bg-overlay bg-linear-overlay"></div>

                    <!-- Card image overlay -->
                    <div class="position-relative z-index-2 d-flex flex-column m-auto h-100 py-9">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-11 col-lg-8 col-xl-7 text-center m-auto">
                                    <span class="bg-white bg-opacity-10 text-white small rounded-3 px-3 py-2">🚀
                                        #World's best software agency</span>
                                    <!-- Title -->
                                    <h1 class="text-white display-4 my-4">Leading the Way in <span
                                            class="text-primary">software</span> innovation</h1>
                                    <p class="text-white mb-5"> Whether you're a gaming enthusiast or simply seeking an
                                        extraordinary escape from reality, our Virtual VR product is your portal to
                                        endless excitement. </p>
                                    <a class="btn btn-lg btn-white icon-link icon-link-hover mb-0" href="#">Get started
                                        now<i class="bi bi-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slider item -->
            <div class="swiper-slide">
                <div class="card overflow-hidden min-vh-100 rounded-0"
                    style="background:url(assets/images/bg/09.jpg) no-repeat; background-size:cover; background-position:center;">
                    <!-- Bg overlay -->
                    <div class="bg-overlay bg-linear-overlay"></div>

                    <!-- Content -->
                    <div class="position-relative z-index-2 d-flex flex-column m-auto h-100 py-9">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-11 col-lg-8 mt-auto">
                                    <!-- Title -->
                                    <h1 class="text-white display-4 mb-4">Empower Your <span
                                            class="fw-light">Business</span> with <span
                                            class="fw-light">Innovation</span></h1>
                                    <p class="text-white mb-5"> Whether you're a gaming enthusiast or simply seeking an
                                        extraordinary escape from reality, our Virtual VR product is your portal to
                                        endless excitement. </p>
                                    <a class="btn btn-lg btn-primary icon-link icon-link-hover mb-0" href="#">Explore
                                        Our Services<i class="bi bi-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-line position-absolute bottom-0 mb-3"></div>
    </div>
</section>