<swiper-container loop="true" autoplay="true">
    <swiper-slide>
        <div class="swiper-slide">
            <div class="card overflow-hidden vh-80 rounded-0"
                style="background:url(/banner_2.jpg) no-repeat; background-size:cover; background-position:center;">
                <div class="bg-overlay bg-linear-overlay"></div>
                <div class="position-relative z-index-2 d-flex flex-column m-auto h-100 py-9">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-11 col-lg-8 col-xl-7 text-center m-auto">
                                <h1 class="text-white display-4 my-4">Leading the Way in <span
                                        class="text-primary">Medicine</span> and <span class="text-primary">Surgical
                                        Products</span></h1>
                                <p class="text-white mb-5">Eazy Plus specializes in the sales and marketing of
                                    medicines, lab, and surgical products, ensuring timely service and high-quality
                                    products.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </swiper-slide>
    <swiper-slide>
        <div class="swiper-slide">
            <div class="card overflow-hidden vh-80 rounded-0"
                style="background:url(/banner_1.jpg) no-repeat; background-size:cover; background-position:center;">
                <div class="bg-overlay bg-linear-overlay"></div>
                <div class="position-relative z-index-2 d-flex flex-column m-auto h-100 py-9">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-11 col-lg-8 text-center m-auto">
                                <h1 class="text-white display-4 my-4">Empower Your <span
                                    class="text-primary">Health</span> with the<span class="text-primary">Quality
                                        Products</span></h1>
                            <p class="text-white mb-5">From medicines to lab and surgical products, Eazy Plus
                                provides high-quality solutions to meet your healthcare needs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </swiper-slide>
</swiper-container>