<section>
    <div class="container contact-info">
        <div class="row">
            <div class="col-12">
                <h2>Contact Us</h2>
                <div class="contact-item">
                    <h4>Address</h4>
                    <p>123 EazyPlus Street, Suite 456<br>City, State, 12345</p>
                </div>
                <div class="contact-item">
                    <h4>Phone</h4>
                    <p>+1 (123) 456-7890</p>
                </div>
                <div class="contact-item">
                    <h4>Email</h4>
                    <p><a href="mailto:info@eazyplus.com">info&#64;eazyplus.com</a></p>
                </div>
            </div>
        </div>
        <div class="row map-container">
            <div class="col-12">
                <h4>Our Location</h4>
                <div id="map" style="width: 100%; height: 400px;"></div>
            </div>
        </div>
        <div class="row business-hours">
            <div class="col-12">
                <h4>Business Hours</h4>
                <p>Monday - Friday: 9:00 AM - 5:00 PM<br>Saturday: 10:00 AM - 2:00 PM<br>Sunday: Closed</p>
            </div>
        </div>
    </div>
</section>