<section class="mb-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mx-auto">
				<h2>Empowering Healthcare Excellence with Eazy Plus</h2>
				<p class="paragraph">At Eazy Plus, we are committed to revolutionizing healthcare by delivering cutting-edge medical and
					surgical solutions. With over 8 years of unwavering dedication, we specialize in providing
					top-quality healthcare products that cater to the diverse needs of medical institutions.</p>
				<p class="paragraph">Our comprehensive range of products includes medical devices, surgical instruments, pharmaceuticals,
					and more. Each product undergoes rigorous quality control measures to ensure safety, efficacy, and
					compliance with international standards.</p>
				<p class="paragraph">Driven by innovation, Eazy Plus aims to enhance patient care and operational efficiency across
					healthcare facilities. Our team of experts continuously explores advanced technologies and medical
					advancements to meet the evolving demands of the healthcare industry.</p>
			</div>

			<div class="col-lg-6 mx-auto">
				   <div class="bg-overlay"></div>
				<img src="/medicines.jpg" class="img-fluid rounded-5" alt="Medical Supplies">
			</div>
		</div>
	</div>

</section>


<div class="py-2">
	<div class="container">
		<div class="inner-container-small text-center mb-4 mb-md-6">
			<h2>How Eazy Plus Serves You in <span class="text-primary">4</span> Essential Steps</h2>
		</div>

		<div class="row row-cols-1 row-cols-lg-4 g-4">
			<div class="col">
				<div class="card card-body bg-transparent text-center h-100">
					<!-- Icon -->
					<div class="icon-lg bg-success text-white rounded-circle mb-3 mx-auto">
						<i class="bi bi-search fa-lg"></i>
					</div>
					<h5>Understanding Your Needs</h5>
					<p class="card-text">We begin by thoroughly understanding your healthcare facility's requirements
						and challenges to provide tailored solutions.</p>
				</div>
			</div>
			<div class="col">
				<div class="card card-body bg-transparent text-center h-100">
					<div class="icon-lg bg-success text-white rounded-circle mb-3 mx-auto">
						<i class="bi bi-bullseye fa-lg"></i>
					</div>
					<h5>Ensuring Quality and Precision</h5>
					<p class="card-text">We uphold a commitment to delivering high-quality medical and surgical products
						that meet stringent regulatory standards and exceed expectations.</p>
				</div>
			</div>
			<div class="col">
				<div class="card card-body bg-transparent text-center h-100">
					<div class="icon-lg bg-success text-white rounded-circle mb-3 mx-auto">
						<i class="bi bi-rocket-takeoff fa-lg"></i>
					</div>
					<h5>Efficient Supply Chain Management</h5>
					<p class="card-text">We leverage efficient supply chain practices to ensure timely delivery and
						availability of essential medical supplies for your institution.</p>
				</div>
			</div>
			<div class="col">
				<div class="card card-body bg-transparent text-center h-100">
					<div class="icon-lg bg-success text-white rounded-circle mb-3 mx-auto">
						<i class="bi bi-headset fa-lg"></i>
					</div>
					<h5>Dedicated Customer Support</h5>
					<p class="card-text">We provide dedicated customer support and maintenance services to ensure
						seamless operations and client satisfaction.</p>
				</div>
			</div>
		</div>

	</div>
</div>
<hr>

<div class="py-3 pt-4 mt-4">
	<div class="container d-md-block d-none">
		<div class="row">
			<div class="col-md-3 mb-4 mb-md-0">
				<h3>Meet Our Dedicated Team</h3>
			</div>

			<div class="col-md-9">
				<swiper-container centered-slides="true" autoplay="true" autoplay-disable-on-interaction="false"
					[attr.slides-per-view]="slidesPerView" [attr.loop]="loop">
					@for(team of teams; track team.title) {
					<swiper-slide class="px-2">
						<div class="card">
							<div class="card-img-scale">
								<div class="card-img-scale-wrapper rounded-3">
									<img src="https://images.pexels.com/photos/3184611/pexels-photo-3184611.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
										class="img-scale" alt="card image">
								</div>
								<div class="card-body text-center px-0 pb-0">
									<h6 class="mb-0"><a href="#" class="stretched-link">Krishna Raj Dhungana</a></h6>
									<small>Founder</small>
								</div>
							</div>
						</div>
					</swiper-slide>
					}
				</swiper-container>
			</div>
		</div>
	</div>

	<div class="container d-md-none d-sm-block">
		<h2 class="text-center">Meet Our Dedicated Team</h2>
		<swiper-container centered-slides="true" autoplay="true" autoplay-disable-on-interaction="false"
			[attr.loop]="loop">
			@for(team of teams; track team.title) {
			<swiper-slide class="me-2">
				<div class="card">
					<div class="card-img-scale">
						<div class="card-img-scale-wrapper rounded-3">
							<img src="https://images.pexels.com/photos/3184611/pexels-photo-3184611.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
								class="img-scale" alt="card image">
						</div>
						<div class="card-body text-center px-0 pb-0">
							<h6 class="mb-0"><a href="#" class="stretched-link">Krishna Raj Dhungana</a></h6>
							<small>Founder</small>
						</div>
					</div>
				</div>
			</swiper-slide>
			}
		</swiper-container>
	</div>
</div>